body,
#root,
.App {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="text"] {
  background-color: whitesmoke;
}

ul {
  margin: auto;
  list-style: none;
  padding: 0;
}
.text {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.del-edit {
  width: 3rem;
  float: right;
  margin-right: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.fa-edit,
.fa-trash {
  cursor: pointer;
}

.fa-check-circle {
  margin-right: 1rem;
}

.back-btn {
  text-align: center;
}
